<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col d-flex justify-content-center text-center mt-5">
      <div class="col-10 col-md-6 mt-5">
        <div class="col-12 text-center ">
          <p class="w-lg-50 pt-3 fs-3 text-white border rounded-3 bg-danger">sign up</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-10 col-md-6">
      <form class="text-center m-2 p-4 border border-2 rounded-3 bg-warning-subtle" method="post">
        <div class="div-title mb-4">
          <p class="title-p fw-bold text-main">username<span class="p_required"></span></p>
          <input class="form-control py-md-3 rounded bg-white box-shadow mb-3" type="text">
        </div>
        <div class="div-title mb-4">
          <p class="title-p fw-bold text-main">e-mail<span class="p_required"></span></p>
          <input class="form-control py-md-3 rounded bg-white box-shadow mb-3" type="email">
        </div>
        <div class="div-title mb-4">
          <p class="title-p fw-bold text-main">password<span class="p_required"></span></p>
          <input class="form-control py-md-3 rounded bg-white box-shadow mb-3" type="password">
        </div>
        <div class="div-title mb-4">
          <p class="title-p fw-bold text-main">password_confirmation<span class="p_required"></span></p>
          <input class="form-control py-md-3 rounded bg-white box-shadow mb-3" type="password">
        </div>
        
        <button class="btn btn-danger w-100 py-2" type="submit">sign up</button>
      </form>
    </div>
  </div>
</div>

